* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}


.outer-wrapper {
    display: grid; 
    min-height: 100vh; 
    width: 100%; 
} 
.wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr 1fr;
    resize: both;  
    overflow: auto; 
    width: 1500px; 
    height: 1000px;   
    align-self: center;
    justify-self: center;

}

header {
    grid-column: 2 / 6; 
    grid-row: 1 / 3; 
    background-color: grey;
    position: relative; 
}

.header-top {
    display: flex; 
    justify-content: center;
    gap: 150px; 
    margin-top: 20px; 
    align-items: center; 
    position: absolute;
    left: 50px; 
}

.search-container{
    display: flex;   
    gap: 5px; 
    
}

.search{
    width: 25px; 
    height: 25px; 
}

#search-icon{
    width: 550px; 
    border-radius: 50px; 
    height: 28px; 
    border: none;  
    outline: none; 
}

.bodzin-img {
    height: 45px; 
    width: 45px; 
    border-radius: 100px; 
    
}

.profile-container{
    display: flex; 
    align-items: center;
    display: flex; 
    align-items: center;
    gap: 20px; 
    
}

.profile-name {
    font-family: 'Orbitron', sans-serif; 
    font-size: 18px; 
   
}

.outer-aside {
    grid-column: 1 / 2; 
    grid-row: 1 / 6; 
    background-color: aqua;
}


main {
    grid-column: 2 / 6; 
    grid-row: 3 / 6; 
    background-color: brown;
}
